/* 
    Document   : style
    Created on : May 10, 2013, 11:44:54 PM
    Author     : subash
    Description:
        Purpose of the stylesheet follows.
*/
#login_side
{
    float: right;
    margin-top: 27px;
}

